<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Blog Group</title>
</head>
	<body>
		<h1>New Post</h1>
		<a th:href="@{/}"><button>Home</button></a>
		<form th:action="@{/new}" th:method="post">
			<input placeholder="You currently do not have title" th:value="${title}" name="title"/>
			<input placeholder="You currently have no content" th:value="${content}" name="content"/>
			<input placeholder="Who's claiming this work?" th:value="${author}" name="author"/>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
